{
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-control-regex": "off",
        "no-empty": ["error", {
            "allowEmptyCatch": true
        }],
        "semi": ["error", "never"]
    }
}
